.searchContainer {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  cursor: text;
}

.searchInput {
  width: 100%;
  background-color: white;
  color: #073b27;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0.5rem 0.75rem 0.5rem 2rem;
  border-radius: 9999px;
  border: none;
  outline: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.searchInput::placeholder {
  color: rgba(7, 59, 39, 0.5);
}

.searchInput:focus {
  border-color: #073b27;
}

.searchIcon {
  position: absolute;
  left: 0.75rem;
  color: #d4af37;
  font-size: 0.875rem;
}
